*.stx
*.cmd_log
*.ngr
*.syr
*.html
*.gise
*.projectmgr
*.vhd
*.xml
xst/work/work.sdbx
*.sdbl
_xmsgs/pn_parser.xmsgs
*.xmsgs
iseconfig/Tx_Box.xreport
*.xreport
II_Proyecto.xise
*.xrpt
Filtro.xst
*.prj
Filtro.ngc
*.lso